:root {
    --color-a: #FF3900;
    --color-b: #fcb4a1;
    --color-c: #692513;
    --color-button: #ff0000;

    --speed: 0.1s;
}

* {
    font-family: system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
}

html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh;
    margin: 0;
    padding: 0;
}

html {
    /* background-image: url('images/tumo_bckgrd.webp'); */
    background-color: var(--color-c);
}

#container {
    display: grid;
    grid-template-areas:
        'visor visor visor'
        'scrub scrub scrub'
        'prev playpause next'
        'volume volume volume';
    grid-template-columns: 33% auto 33%;
    grid-template-rows: auto 64px 86px 64px;
    gap: 10px;
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
    border-radius: 32px;
    overflow: hidden;
    background-color: var(--color-a);
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    flex: 1;
}

button svg {
    transition: transform var(--speed) ease;
}

button:hover svg {
    transform: scale(1.2);
}

#visor {
    position: relative;
    grid-area: visor;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
}

#visor h2 {
    position: absolute;
    text-align: center;
    width: 100%;
    color: var(--color-c);
    text-transform: uppercase;
}

#analyser-canvas {
    width: 100%;
    height: 100%;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
}

#dropzone {
    position: absolute;
    inset: 0;
    opacity: 0.3;
    /* background-color: black; */
}

#scrub {
    position: relative;
    grid-area: scrub;
    max-height: 24px;
    display: flex;
    cursor: pointer;
    align-self: center;
    border-radius: 12px;
    overflow: hidden;
    margin: 0 10px;
    background-color: var(--color-c);
}

#scrub p {
    line-height: 12px;
    position: absolute;
    inset: 0;
    color: var(--color-b);
    font-size: 12px;
    padding: 0;
    margin: 0;
    font-family: monospace;
    display: flex;
    align-items: center;
    padding-left: 10px;
    mix-blend-mode: difference;
    pointer-events: none;
}


input[type="range"] {
    flex: 1;
    opacity: 0;
    cursor: pointer;
}

#progress-bar {
    transform: scaleX(0);
    background-color: var(--color-b);
}

#previous-button {
    grid-area: prev;
}

#play-pause-button {
    grid-area: playpause;
}

#next-button {
    grid-area: next;
}

#volume {
    position: relative;
    display: flex;
    grid-area: volume;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

#volume-container {
    display: flex;
    position: relative;
    flex: 1;
    border-radius: 12px;
    overflow: hidden;
    background-color: var(--color-c);
}

#mute-button {
    max-width: fit-content;
}

#volume-bar {
    transform: scaleX(0.5);
    background-color: var(--color-b);
}


.bar {
    position: absolute;
    inset: 0;
    transform-origin: left;
    pointer-events: none;
}