:root {
    --color-a: #b4000c;
    --color-b: #ffd1d2;
    --color-c: #2b0804;

    --speed: 0.1s;

    --border-radius: 32px;
}

* {
    font-family: system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
}

html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh;
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--color-c);
}

#container {
    display: grid;
    grid-template-areas:
        'header header header'
        'visor visor visor'
        'scrub scrub scrub'
        'prev playpause next'
        'volume volume volume';
    grid-template-columns: 33% auto 33%;
    grid-template-rows: 52px auto 24px 86px 64px;
    gap: 10px;
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: var(--color-a);
    opacity: 0;
    scale: 0;
    transition: opacity 1s ease, scale 0.5s cubic-bezier(0.3, 0.8, 0, 1.2);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.149);
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button svg {
    transition: transform var(--speed) ease;
}

button:hover svg {
    transform: scale(1.2);
}

header {
    display: flex;
    max-width: 100%;
    /* or any fixed width */
    overflow: hidden;
    padding: 10px 20px;
    align-items: center;
    grid-area: header;
}

header h2 {
    color: var(--color-b);
    text-transform: uppercase;
    font-size: 2rem;
    margin: 0;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
}

#visor {
    position: relative;
    grid-area: visor;
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 10px;
}


#analyser-canvas {
    width: 100%;
    height: 100%;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
}

#tumo-logo {
    position: absolute;
    inset: 0;
    margin: auto;
    z-index: -1;
}

#dropzone {
    position: absolute;
    inset: 0;
    opacity: 0.3;
}

#scrub {
    position: relative;
    grid-area: scrub;
    max-height: 24px;
    display: flex;
    cursor: pointer;
    align-self: center;
    border-radius: 12px;
    overflow: hidden;
    margin: 0 10px;
    background-color: var(--color-c);
}

#scrub p {
    line-height: 12px;
    position: absolute;
    inset: 0;
    color: var(--color-b);
    font-size: 12px;
    padding: 0;
    margin: 0;
    font-family: monospace;
    display: flex;
    align-items: center;
    padding-left: 10px;
    mix-blend-mode: difference;
    pointer-events: none;
}


input[type="range"] {
    flex: 1;
    opacity: 0;
    cursor: pointer;
}

input[type="file"] {
    position: absolute;
    visibility: hidden;
}

#progress-bar {
    transform: scaleX(0);
    background-color: var(--color-b);
}

#previous-button {
    grid-area: prev;
}

#play-pause-button {
    grid-area: playpause;
}

#next-button {
    grid-area: next;
}

#volume {
    position: relative;
    display: flex;
    grid-area: volume;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

#volume-container {
    display: flex;
    position: relative;
    flex: 1;
    border-radius: 12px;
    overflow: hidden;
    background-color: var(--color-c);
}

#mute-button {
    max-width: fit-content;
}

#volume-bar {
    transform: scaleX(0.5);
    background-color: var(--color-b);
}


.bar {
    position: absolute;
    inset: 0;
    transform-origin: left;
    pointer-events: none;
}

@media (max-width: 600px) {

    :root {
        --border-radius: 0;
    }

    header {
        padding: 10px;
    }
}